<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>Редактирование стейта родителя в дочернем компоненте в React | Трепачёв Дмитрий</title>
		
		<link rel="stylesheet" href="../../../../../../../css/fonts/list.css?v=8">
		<link rel="stylesheet" href="../../../../../../../css/styles.css?v=321">
		<link rel="stylesheet" href="../../../../../../../js/highlighter/highlighter.css?v=77">
		
		<script src="../../../../../../../js/highlighter/highlighter.js?v=112"></script>
		
		<script src="../../../../../../../js/location.js?v=3"></script>
		<script src="../../../../../../../js/locale.js?v=5"></script>
		<script src="../../../../../../../js/main.js?v=129"></script>
		
		<meta name="yandex-verification" content="00eb45b7559e5c68">
		<meta name="google-site-verification" content="Af0TM2OrwIEtjoQXxYz2-1C-21E1m7DB23_kWpE9sLg">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<meta name="description" content="В данном уроке мы научимся редактировать родительские стейты в дочернем компоненте в React.">
		<link rel="shortcut icon" type="image/x-icon" href="../../../../../../../favicon.ico">
	</head>
	<body id="top">
		<div class="wrapper">
			<header>
				<div class="top">
	<div class="left"><img data-module="coder" src="" alt=""></div>
	<div class="right">
		offline version 0.0.1	</div>
	<div class="center">
			<a href="http://mentor.code.mu">
		Запись на курсы по HTML, CSS, JavaScript, PHP, фреймворкам и CMS,<br>
		<b>а также</b>: помощь в поиске работы и заказов, стажировка
		на реальных проектах&rarr;
	</a>
	</div>
</div>								<nav data-module="mainmenu">
	<section class="main active">
		<span data-href="/ru/markup/" data-open="markup">Верстка</span>
		<span data-href="/ru/javascript/" data-open="javascript">JavaScript</span>
		<span data-href="/ru/php/" data-open="php">PHP</span>
		<span data-href="/ru/javascript/typescript/" data-open="typescript">TypeScript</span>
		<span data-href="/ru/javascript/nodejs/" data-open="nodejs">NodeJS</span>
		<span data-href="/ru/sql/" data-open="sql">SQL</span>
		<span data-href="/ru/javascript/framework/vue/" data-open="vue">Vue</span>
		<span data-href="/ru/javascript/framework/react/" data-open="react">React</span>
		<span data-href="/ru/php/framework/laravel/" data-open="laravel">Laravel</span>
	</section>

	<section class="sub" data-name="markup">
		<a href="../../../../../../../ru/markup/book/prime.html">Основной учебник</a>
		<a href="../../../../../../../ru/markup/book/supreme.html">Высший учебник</a>
		<a href="../../../../../../../ru/markup/book/prep/less.html">Учебник LESS</a>
		<a href="../../../../../../../ru/markup/manual/html.html">Справочник HTML</a>
		<a href="../../../../../../../ru/markup/manual/css.html">Справочник CSS</a>
	</section>

	<section class="sub" data-name="php">
		<a href="../../../../../../../ru/php/book/prime.html">Основной учебник</a>
		<a href="../../../../../../../ru/php/book/oop.html">Учебник ООП и MVC</a>
		<a href="../../../../../../../ru/php/manual.html">Справочник</a>
		<a href="../../../../../../../ru/php/video/lesson.html">Видеоуроки</a>
	</section>

	<section class="sub" data-name="javascript">
		<a href="../../../../../../../ru/javascript/book/prime.html">Основной учебник</a>
		<a href="../../../../../../../ru/javascript/book/practice.html">Учебник практики</a>
		<a href="../../../../../../../ru/javascript/book/supreme.html">Высший учебник</a>
		<a href="../../../../../../../ru/javascript/book/oop.html">Учебник ООП</a>
		<a href="../../../../../../../ru/javascript/manual.html">Справочник</a>
		<a href="../../../../../../../ru/javascript/video/lesson.html">Видеоуроки</a>
		<a href="../../../../../../../ru/javascript/mistake.html">Ошибки</a>
		<a href="../../../../../../../ru/javascript/faq.html">FAQ</a>
	</section>

	<section class="sub" data-name="nodejs">
		<a href="../../../../../../../ru/javascript/nodejs/book/prime.html">Основной учебник</a>
		<a href="../../../../../../../ru/javascript/nodejs/book/express.html">Express</a>
		<a href="../../../../../../../ru/javascript/nodejs/book/mongo.html">Mongo</a>
	</section>
	<section class="sub" data-name="sql">
		<a href="../../../../../../../ru/sql/manual.html">Справочник</a>
	</section>

	<section class="sub" data-name="typescript">
		<a href="../../../../../../../ru/javascript/typescript/book/prime.html">Основной учебник</a>
	</section>

	<section class="sub" data-name="vue">
		<a href="../../../../../../../ru/javascript/framework/vue/book/prime.html">Основной учебник</a>
	</section>

	<section class="sub" data-name="react">
		<a href="../../../../../../../ru/javascript/framework/react/book/prime.html">Основной учебник</a>
	</section>

	<section class="sub" data-name="laravel">
		<a href="../../../../../../../ru/php/framework/laravel/book/prime.html">Основной учебник</a>
	</section>
	<!--
	<section class="sub" data-name="wordpress">
		<a href="http://dep.code.mu/ru/cms/wordpress/book/prime/administration/">Учебник администратора</a>
		<a href="http://dep.code.mu/ru/cms/wordpress/book/prime/development/">Учебник разработчика</a>
		<!--
		<a href="../../../../../../../ru/cms/wordpress/book/prime/administration.html">Учебник администратора</a>
		<a href="../../../../../../../ru/cms/wordpress/book/prime/development.html">Учебник разработчика</a>
		
	</section>
	-->
</nav>							</header>
			<main>
				<h1>Редактирование стейта родителя в дочернем компоненте</h1>
				<div class="content">
<p>
	Давайте теперь будем редактировать наши продукты
	с помощью инпутов. Для этого в дочернем компоненте
	сделаем кнопку.
</p>
<p>
	По первому нажатию на эту кнопку пусть вместо
	названия и цены с продуктом появятся инпуты
	для их редактирования, а по второму нажатию
	вместо инпутов опять появятся тексты.
</p>
<p>
	Внесем изменение в массив с продуктами, добавив
	свойство <code class="code inline">isEdit</code> (а работу с корзиной
	для простоты уберем):
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="jsx">const initProds = [
	{id: id(), name: 'product1', cost: 100, isEdit: false},
	{id: id(), name: 'product2', cost: 200, isEdit: false},
	{id: id(), name: 'product3', cost: 300, isEdit: false},
];</code>
</div>
<p>
	Сделаем в продукте кнопку для редактирования:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="jsx">function Product({ id, name, cost, isEdit }) {
	return &lt;div&gt;
		name: &lt;span&gt;{name}&lt;/span&gt;
		cost: &lt;span&gt;{cost}&lt;/span&gt;
		&lt;button&gt;edit&lt;/button&gt;
	&lt;/div&gt;;
}</code>
</div>
<p>
	Сделаем так, чтобы по клику на эту кнопку
	вызвалась некоторая функция <code class="code inline">toggleMode</code>,
	переданная из родительского компонента:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="jsx">function Product({ id, name, cost, isEdit, toggleMode }) {
	return &lt;div&gt;
		name: &lt;span&gt;{name}&lt;/span&gt;
		cost: &lt;span&gt;{cost}&lt;/span&gt;
		
		&lt;button onClick={() =&gt; toggleMode(id)}&gt;
			edit
		&lt;/button&gt;
	&lt;/div&gt;;
}</code>
</div>
<p>
	Пока у нас нет реализации <code class="code inline">toggleMode</code>,
	но мы знаем, что она будет располагаться
	в компоненте-родителе, параметром принимать
	<code class="string inline">id</code> продукта и изменять свойство <code class="code inline">isEdit</code>
	продукта на противоположное.
</p>
<p>
	Сделаем также так, чтобы текст кнопки менялся
	каждое нажатие:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="jsx">function Product({ id, name, cost, isEdit, toggleMode }) {
	return &lt;div&gt;
		name: &lt;span&gt;{name}&lt;/span&gt;
		cost: &lt;span&gt;{cost}&lt;/span&gt;
		
		&lt;button onClick={() =&gt; toggleMode(id)}&gt;
			{isEdit ? 'save': 'edit'}
		&lt;/button&gt;
	&lt;/div&gt;;
}</code>
</div>
<p>
	Давайте теперь сделаем так, чтобы в режиме
	редактирования у нас были инпуты с данными,
	а в обычном режиме - спены:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="jsx">function Product({ id, name, cost, isEdit, toggleMode }) {
	return &lt;div&gt;
		name: {isEdit ? &lt;input value={name} /&gt; : &lt;span&gt;{name}&lt;/span&gt;}
		cost: {isEdit ? &lt;input value={cost} /&gt; : &lt;span&gt;{cost}&lt;/span&gt;}
		
		&lt;button onClick={() =&gt; toggleMode(id)}&gt;
			{isEdit ? 'save': 'edit'}
		&lt;/button&gt;
	&lt;/div&gt;;
}</code>
</div>
<p>
	Привяжем к нашим инпутам событие <code class="code inline">onChange</code>,
	в котором будем вызывать некоторую родительскую
	функцию <code class="code inline">editProd</code>:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="jsx">function Product({ id, name, cost, isEdit, toggleMode, editProd }) {
	return &lt;div&gt;
		name: {
			isEdit
			? &lt;input value={name} onChange={event =&gt; editProd(id, 'name', event)} /&gt;
			: &lt;span&gt;{ name }&lt;/span&gt;
		}
		cost: {
			isEdit
			? &lt;input value={cost} onChange={event =&gt; editProd(id, 'cost', event)} /&gt;
			: &lt;span&gt;{ cost }&lt;/span&gt;
		}
		
		&lt;button onClick={() =&gt; toggleMode(id)}&gt;
			{isEdit ? 'save': 'edit'}
		&lt;/button&gt;
	&lt;/div&gt;;
}</code>
</div>

<h2>Компонент Products</h2>
<p>
	Давайте теперь перейдем в компонент <code class="code inline">Products</code>.
	Реализуем в нем функцию <code class="code inline">toggleMode</code>:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="jsx">function toggleMode(id) {
	setProds(prods.map(prod =&gt; {
		if (prod.id === id) {
			prod.isEdit = !prod.isEdit;
		}
		
		return prod;
	}));
}</code>
</div>
<p>
	Также реализуем в нем функцию <code class="code inline">editProd</code>:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="jsx">function editProd(id, field, event) {
	setProds(prods.map(prod =&gt; {
		if (prod.id === id) {
			prod[field] = event.target.value;
		}
		
		return prod;
	}));
}</code>
</div>
<p>
	В тег с продуктом атрибутами передадим наши
	функции <code class="code inline">toggleMode</code> и <code class="code inline">editProd</code>:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="jsx">const items = prods.map(prod =&gt; {
	return &lt;Product
		key ={prod.id}
		id  ={prod.id}
		name={prod.name}
		cost={prod.cost}
		isEdit={prod.isEdit}
		toggleMode={toggleMode}
		editProd={editProd}
	/&gt;;
});</code>
</div>
<p>
	Окончательный код компонента <code class="code inline">Products</code>
	получится следующим:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="jsx">function Products() {
	const [prods, setProds] = useState(initProds);
	
	function toggleMode(id) {
		setProds(prods.map(prod =&gt; {
			if (prod.id === id) {
				prod.isEdit = !prod.isEdit;
			}
			
			return prod;
		}));
	}
	
	function editProd(id, field, event) {
		setProds(prods.map(prod =&gt; {
			if (prod.id === id) {
				prod[field] = event.target.value;
			}
			
			return prod;
		}));
	}
	
	const result = prods.map(prod =&gt; {
		return &lt;Product
			key ={prod.id}
			id  ={prod.id}
			name={prod.name}
			cost={prod.cost}
			isEdit={prod.isEdit}
			toggleMode={toggleMode}
			editProd={editProd}
		/&gt;;
	});
	
	return &lt;div&gt;
		{result}
	&lt;/div&gt;;
}</code>
</div>

<h2>Практические задачи</h2>
<div class="task">
	<p>
		Проделайте аналогичные операции с компонентами
		<code class="code inline">Users</code> и <code class="code inline">User</code>, созданными вами
		в предыдущих уроках.
	</p>
</div>
</div>			</main>
			<div class="bottom">
	<section class="pages" data-url="/ru/javascript/framework/react/book/prime/" data-persent="92" data-hash="jsrtPmCpEPS" data-quantity="51" data-num="48"><a href="../../../../../../../ru/javascript/framework/react/book/prime/components/changing-parent-state.html" class="prev"><span class="arrow">&larr;</span></a><a href="../../../../../../../ru/javascript/framework/react/book/prime/components/editing-grandparent-state.html" class="next"><span class="arrow">&rarr;</span></a></section></div>			<footer>
	<div class="contacts">
	Трепачёв Дмитрий &copy; 2012-2022 <br>
	<a href="https://t.me/trepachev_dmitry">t.me/trepachev_dmitry</a>
</div>		
</footer>			<div class="jump">
	<a href="#top" class="to-top">&uarr;</a>
</div>			<div class="langer">
	</div>			</div>
		</div>
		
		<script src="../../../../../../../js/metrika.js?v=1"></script>	</body>
</html>