<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>Концепции React при работе с компонентами | Трепачёв Дмитрий</title>
		
		<link rel="stylesheet" href="../../../../../../../css/fonts/list.css?v=8">
		<link rel="stylesheet" href="../../../../../../../css/styles.css?v=321">
		<link rel="stylesheet" href="../../../../../../../js/highlighter/highlighter.css?v=77">
		
		<script src="../../../../../../../js/highlighter/highlighter.js?v=112"></script>
		
		<script src="../../../../../../../js/location.js?v=3"></script>
		<script src="../../../../../../../js/locale.js?v=5"></script>
		<script src="../../../../../../../js/main.js?v=129"></script>
		
		<meta name="yandex-verification" content="00eb45b7559e5c68">
		<meta name="google-site-verification" content="Af0TM2OrwIEtjoQXxYz2-1C-21E1m7DB23_kWpE9sLg">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<meta name="description" content="В данном уроке мы обсудим самые главные концепции React при работе с компонентами.">
		<link rel="shortcut icon" type="image/x-icon" href="../../../../../../../favicon.ico">
	</head>
	<body id="top">
		<div class="wrapper">
			<header>
				<div class="top">
	<div class="left"><img data-module="coder" src="" alt=""></div>
	<div class="right">
		offline version 0.0.1	</div>
	<div class="center">
			<a href="http://mentor.code.mu">
		Запись на курсы по HTML, CSS, JavaScript, PHP, фреймворкам и CMS,<br>
		<b>а также</b>: помощь в поиске работы и заказов, стажировка
		на реальных проектах&rarr;
	</a>
	</div>
</div>								<nav data-module="mainmenu">
	<section class="main active">
		<span data-href="/ru/markup/" data-open="markup">Верстка</span>
		<span data-href="/ru/javascript/" data-open="javascript">JavaScript</span>
		<span data-href="/ru/php/" data-open="php">PHP</span>
		<span data-href="/ru/javascript/typescript/" data-open="typescript">TypeScript</span>
		<span data-href="/ru/javascript/nodejs/" data-open="nodejs">NodeJS</span>
		<span data-href="/ru/sql/" data-open="sql">SQL</span>
		<span data-href="/ru/javascript/framework/vue/" data-open="vue">Vue</span>
		<span data-href="/ru/javascript/framework/react/" data-open="react">React</span>
		<span data-href="/ru/php/framework/laravel/" data-open="laravel">Laravel</span>
	</section>

	<section class="sub" data-name="markup">
		<a href="../../../../../../../ru/markup/book/prime.html">Основной учебник</a>
		<a href="../../../../../../../ru/markup/book/supreme.html">Высший учебник</a>
		<a href="../../../../../../../ru/markup/book/prep/less.html">Учебник LESS</a>
		<a href="../../../../../../../ru/markup/manual/html.html">Справочник HTML</a>
		<a href="../../../../../../../ru/markup/manual/css.html">Справочник CSS</a>
	</section>

	<section class="sub" data-name="php">
		<a href="../../../../../../../ru/php/book/prime.html">Основной учебник</a>
		<a href="../../../../../../../ru/php/book/oop.html">Учебник ООП и MVC</a>
		<a href="../../../../../../../ru/php/manual.html">Справочник</a>
		<a href="../../../../../../../ru/php/video/lesson.html">Видеоуроки</a>
	</section>

	<section class="sub" data-name="javascript">
		<a href="../../../../../../../ru/javascript/book/prime.html">Основной учебник</a>
		<a href="../../../../../../../ru/javascript/book/practice.html">Учебник практики</a>
		<a href="../../../../../../../ru/javascript/book/supreme.html">Высший учебник</a>
		<a href="../../../../../../../ru/javascript/book/oop.html">Учебник ООП</a>
		<a href="../../../../../../../ru/javascript/manual.html">Справочник</a>
		<a href="../../../../../../../ru/javascript/video/lesson.html">Видеоуроки</a>
		<a href="../../../../../../../ru/javascript/mistake.html">Ошибки</a>
		<a href="../../../../../../../ru/javascript/faq.html">FAQ</a>
	</section>

	<section class="sub" data-name="nodejs">
		<a href="../../../../../../../ru/javascript/nodejs/book/prime.html">Основной учебник</a>
		<a href="../../../../../../../ru/javascript/nodejs/book/express.html">Express</a>
		<a href="../../../../../../../ru/javascript/nodejs/book/mongo.html">Mongo</a>
	</section>
	<section class="sub" data-name="sql">
		<a href="../../../../../../../ru/sql/manual.html">Справочник</a>
	</section>

	<section class="sub" data-name="typescript">
		<a href="../../../../../../../ru/javascript/typescript/book/prime.html">Основной учебник</a>
	</section>

	<section class="sub" data-name="vue">
		<a href="../../../../../../../ru/javascript/framework/vue/book/prime.html">Основной учебник</a>
	</section>

	<section class="sub" data-name="react">
		<a href="../../../../../../../ru/javascript/framework/react/book/prime.html">Основной учебник</a>
	</section>

	<section class="sub" data-name="laravel">
		<a href="../../../../../../../ru/php/framework/laravel/book/prime.html">Основной учебник</a>
	</section>
	<!--
	<section class="sub" data-name="wordpress">
		<a href="http://dep.code.mu/ru/cms/wordpress/book/prime/administration/">Учебник администратора</a>
		<a href="http://dep.code.mu/ru/cms/wordpress/book/prime/development/">Учебник разработчика</a>
		<!--
		<a href="../../../../../../../ru/cms/wordpress/book/prime/administration.html">Учебник администратора</a>
		<a href="../../../../../../../ru/cms/wordpress/book/prime/development.html">Учебник разработчика</a>
		
	</section>
	-->
</nav>							</header>
			<main>
				<h1>Концепции React при работе с компонентами</h1>
				<div class="content">
<p>
	В данном уроке мы изучим основные концепции
	React при работе с компонентами. В предыдущих
	уроках вы уже познакомились с ними на практике.
	Давайте теперь подведем под них теоретическую
	базу, а также изучим терминологию.
</p>

<h2>Данные компонентов</h2>
<p>
	Данные компонентов могут хранится в трех
	местах: в пропсах, в переменных и константах
	компонента, и в стейтах. В пропсах хранятся
	данные, которые посылает компоненту извне
	его родительский компонент. При этом внутри
	компонента пропсы должны оставаться неизменными.
</p>
<p>
	В переменных, константах и стейтах следует
	хранить локальные данные, которые важны лично
	компоненту и о которых не следует знать родителю.
	При этом в стейтах следует хранить данные,
	которые могут изменяться в различных событиях
	и при этом вы хотите, чтобы изменения были
	реактивными.
</p>
<div class="task">
	<p>
		Дан некий компонент:
	</p>
	<div class="block">
		<code class="highlight" data-module="highlight" data-lang="jsx">function Test() {
	// определение isEdit, elem и data
	
	if (isEdit) {
		elem = &lt;input value={data} /&gt;;
	} else {
		elem = &lt;span&gt;{data}&lt;/span&gt;;
	}
	
	return &lt;div&gt;
		{elem}
	&lt;/div&gt;;
}</code>
	</div>
	<p>
		Определите, чем могут быть isEdit, elem и
		data: пропсом, стейтом, переменной, либо
		константой.
	</p>
</div>

<h2>Контейнерные и презентационные компоненты</h2>
<p>
	Компоненты в React рекомендовано разбивать
	на два типа: <dfn>компоненты-контейнеры</dfn>
	(умные, толстые) и <dfn>презентационные</dfn>
	(глупые, худые).
</p>
<p>
	Презентационные компоненты предназначены
	для отображения данных в HTML верстке. При
	этом такие компоненты не должны иметь стейтов
	(кроме стейтов, регулирующих режим работы
	компонента), а данные в них должны передаваться
	извне с помощью пропсов. То есть такие компоненты
	просто получают данные из своего родителя
	и отображают их в нужном виде.
</p>
<p>
	Компоненты-контейнеры как правило содержат
	в себе стейты с данными, но сами не отображают
	эти данные, а используют для этого дочерние
	презентационные компоненты. При этом контейнеры
	можно вкладывать друг в друга. То есть компонент-контейнер
	может содержать как презентационные компоненты,
	так и контейнеры, в свою очередь содержащие
	презентационные компоненты.
</p>
<p>
	Преимущество такого подхода в легком переиспользовании
	презентационных компонентов, так как такие
	компоненты не знают, откуда берутся данные,
	а просто отображают их. Это значит, что один
	и тот же компонент мы можем использовать
	в разных ситуациях, передавая ему данные
	из разных источников.
</p>
<div class="task">
	<p>
		Рассмотрите компоненты <code class="code inline">Products</code>, <code class="code inline">Product</code>
		и <code class="code inline">ProductField</code> из предыдущих уроков.
		Определите, к какому типу относятся эти компоненты.
	</p>
</div>
<div class="task">
	<p>
		Расскажите, в каких случаях презентационный
		компонент может содержать стейты. Встречались
		ли такие ситуации в предыдущих уроках?
	</p>
</div>

<h2>Однонаправленный поток данных</h2>
<p>
	Компонент может передавать свое состояние
	вниз по дереву потомков в виде пропсов дочерних
	компонентов. Этот процесс называется <dfn>нисходящим</dfn>
	(<span class="translate-prefix">англ.</span> <span class="translate-en">top-down</span>) или <dfn>однонаправленным</dfn>
	(<span class="translate-prefix">англ.</span> <span class="translate-en">unidirectional</span>) потоком данных.
	Состояние всегда принадлежит определенному
	компоненту, и это состояние может влиять
	только на компоненты, являющиеся потомками
	данного компонента.
</p>
<p>
	Кроме нисходящего потока данных, существует
	также <dfn>восходящий</dfn> или <dfn>обратный</dfn>.
	Он содержит в себе данные, которые появляются
	в компонентах-потомках, например, вводятся
	в инпуты пользователем. Этот поток данных
	передается родителю путем вызова функции,
	переданной в пропсы дочернего компонента.
</p>
<div class="task">
	<p>
		Рассмотрите компоненты <code class="code inline">Products</code>, <code class="code inline">Product</code>
		и <code class="code inline">ProductField</code> из предыдущих уроков.
		Расскажите, как двигаются данные в этих компонентах.
	</p>
</div>

<h2>Подъем состояний</h2>
<p>
	Часто несколько компонентов должны отражать
	одни и те же изменяющиеся данные. В React
	рекомендовано поднимать общее состояние до
	ближайшего общего предка. Давайте посмотрим
	на примере.
</p>
<p>
	Пусть мы хотим сделать калькулятор температуры
	воды. Он будет представлять собой инпут,
	в который пользователь будет вводить температуру,
	и абзац, в который будет выводится вердикт:
	вода жидкая, вода твердая, вода газообразная.
</p>
<p>
	Пусть наш калькулятор представляет собой
	компонент-контейнер <code class="code inline">Calculator</code>:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="jsx">function Calculator() {
	return &lt;div&gt;
		
	&lt;/div&gt;;
}</code>
</div>
<p>
	Вынесем инпут для ввода температуры в компонент
	<code class="code inline">TempInp</code>, а абзац с вердиктом - в компонент
	<code class="code inline">Verdict</code>:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="jsx">function Calculator() {
	return &lt;div&gt;
		&lt;Verdict /&gt;
		&lt;TempInp /&gt;
	&lt;/div&gt;;
}</code>
</div>
<p>
	Легко понять, что и <code class="code inline">TempInp</code>, и <code class="code inline">Verdict</code> должны
	иметь стейт с температурой. При этом логично,
	что это должна быть одна и та же температура:
	по мере ввода данных в инпут должен
	отображаться вердикт.
<p>
<p>
	В таком случае рекомендовано использовать прием,
	называемый <dfn>подъем состояния</dfn>: состояние,
	общее для двух (и более) компонентов поднимается
	вверх до их общего родителя.
<p>
<p>
	В нашем случае получится, что стейт с температурой
	должен принадлежать компоненту <code class="code inline">Calculator</code>,
	который будет передавать его в <code class="code inline">TempInp</code> и
	<code class="code inline">Verdict</code> в качестве пропсов:
<p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="jsx">function Calculator() {
	const [temp, setTemp] = useState(0);
	
	return &lt;div&gt;
		&lt;Verdict temp={temp} /&gt;
		&lt;TempInp temp={temp} /&gt;
	&lt;/div&gt;;
}</code>
</div>
<p>
	В компоненте <code class="code inline">TempInp</code> должен быть инпут
	для изменения температуры. Но, так как эта
	температура является пропсом данного компонента,
	то непосредственно в <code class="code inline">TempInp</code> изменять
	его нельзя. Правильно будет передать из компонента
	<code class="code inline">Calculator</code> специальную функцию для
	изменения температуры:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="jsx">function Calculator() {
	const [temp, setTemp] = useState(0);
	
	function changeTemp(event) {
		setTemp(event.target.value);
	}
	
	return &lt;div&gt;
		&lt;Verdict temp={temp} /&gt;
		&lt;TempInp temp={temp} changeTemp={changeTemp} /&gt;
	&lt;/div&gt;;
}</code>
</div>
<p>
	Можно, кстати, не вводить новую функцию,
	а передать в дочерний компонент функцию <code class="code inline">setTemp</code>:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="jsx">function Calculator() {
	const [temp, setTemp] = useState(0);
	
	return &lt;div&gt;
		&lt;Verdict temp={temp} /&gt;
		&lt;TempInp temp={temp} setTemp={setTemp} /&gt;
	&lt;/div&gt;;
}</code>
</div>
<div class="task">
	<p>
		Напишите реализацию компонентов <code class="code inline">TempInp</code>
		и <code class="code inline">Verdict</code>.
	</p>
</div>
<div class="task">
	<p>
		Придумайте <code class="number inline">3</code> задачи, в которых нужно
		использовать подъем состояния. Напишите решения
		этих задач.
	</p>
</div>

<h2>Один источник истины</h2>
<p>
	Для любых изменяемых данных в React-приложении
	должен быть один <dfn>источник истины</dfn>.
	Под этими словами имеется ввиду то, что если
	у вас есть два стейта и один стейт может
	быть вычислен через другой - значит один
	из стейтов лишний и его нужно убрать.
</p>
<p>
	Давайте обсудим это на примере. Пусть у вас,
	к примеру, есть два инпута: в первый вводится
	температура в градусах Фаренгейта, а во второй
	- в градусах Цельсия. При этом мы хотим,
	чтобы оба инпута были синхронизированы: при
	вводе температуры в один инпут она соответствующим
	образом должна меняться во втором.
</p>
<p>
	Неправильным подходом будет ввести два стейта:
	один для температуры по Фаренгейту, а второй
	- по Цельсию. Почему не правильно: потому
	что одна температура вычисляется из другой,
	а значит в качестве места хранения данных
	должен быть один стейт.
</p>
<div class="task">
	<p>
		Напишите реализацию описанной задачи.
	</p>
</div>
<div class="task">
	<p>
		Некий программист написал код, выводящий
		сумму элементов массива:
	</p>
	<div class="block">
		<code class="highlight" data-module="highlight" data-lang="jsx">function getSum(arr) {
	let res = 0;
	
	for (let elem of arr) {
		res += +elem;
	}
	
	return res;
}

function Calculator() {
	const [value, setValue] = useState('');
	const [nums, setNums] = useState([1, 2, 3]);
	const [sum, setSum] = useState(6); // сумма элементов массива nums
	
	function handleChange(event) {
		setValue(event.target.value);
	}
	
	function handleBlur(event) {
		setNums([...nums, event.target.value]); // добавляем элемент в массив
		setSum(getSum([...nums, event.target.value])); // вычисляем сумму заново
	}
	
	return &lt;div&gt;
		&lt;p&gt;{sum}&lt;/p&gt;
		&lt;input value={value} onChange={handleChange} onBlur={handleBlur} /&gt;
	&lt;/div&gt;;
}</code>
	</div>
	<p>
		Что не так с этим кодом? Исправьте его.
	</p>
</div>
<div class="task">
	<p>
		Некий программист написал код для редактирования
		элементов массива:
	</p>
	<div class="block">
		<code class="highlight" data-module="highlight" data-lang="jsx">function App() {
	const [notes, setNotes] = useState([1, 2, 3, 4, 5]);
	const [editNum, setEditNum] = useState(null);
	const [value, setValue] = useState('');
	
	const result = notes.map((note, index) =&gt; {
		return &lt;p key={index} onClick={() =&gt; startEdit(index)}&gt;
			{note}
		&lt;/p&gt;;
	});
	
	function startEdit(index) {
		setEditNum(index);
		setValue(notes[index]); // пишем текст редактируемого элемента в отдельный стейт
	}
	
	function changeItem(event) {
		setValue(event.target.value);
		setNotes([...notes.slice(0, editNum), event.target.value,...notes.slice(editNum + 1)]);
	}
	
	return &lt;div&gt;
		{result}
		&lt;input value={value} onChange={changeItem} /&gt;
	&lt;/div&gt;;
}</code>
	</div>
	<p>
		Что не так с этим кодом? Исправьте его.
	</p>
</div>

<!--
<h2>Папка с компонентами</h2>
<p>
</p>
-->
</div>			</main>
			<div class="bottom">
	<section class="pages" data-url="/ru/javascript/framework/react/book/prime/" data-persent="98" data-hash="jsrtPmCpRCC" data-quantity="51" data-num="51"><a href="../../../../../../../ru/javascript/framework/react/book/prime/components/modes-via-states.html" class="prev"><span class="arrow">&larr;</span></a></section></div>			<footer>
	<div class="contacts">
	Трепачёв Дмитрий &copy; 2012-2022 <br>
	<a href="https://t.me/trepachev_dmitry">t.me/trepachev_dmitry</a>
</div>		
</footer>			<div class="jump">
	<a href="#top" class="to-top">&uarr;</a>
</div>			<div class="langer">
	</div>			</div>
		</div>
		
		<script src="../../../../../../../js/metrika.js?v=1"></script>	</body>
</html>