body {
    margin: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 21px;
    margin-top: 0;
}
h3 {
    margin-top: 0;
    font-size: 17px;
}
h2 {
    margin-top: 0;
    font-size: 19px;
}
p {
    font-size: 13px;
}

.center {
    width: 1100px;
    margin: 0 auto;
}

/* Header */

header {
    background-color: rgb(36, 36, 36);
}
nav {
    display: flex;
}
a {
    padding: 15px 20px;

    color: white;
    text-decoration: none;

    font-size: 19px;
}
a.active, a:hover {
    background-color: rgb(88, 88, 88);
}



/* Container */

.container p {
    text-align: justify;
}
.container .center{
    display: flex;

    background-color: rgb(255, 255, 255);
}
.container {
    background-color: rgb(235, 235, 235);
}
.left {
    width: 300px;
}
.right {
    width: 300px;
}
main {
    width: 500px;
    padding: 20px 0;
}
main img {
    width: 500px;
}
.right, .left {
    padding: 20px;
}
.right img, .left img {
    width: 260px;
}

/* Footer */

footer {
    background-color: rgb(36, 36, 36);
}
footer .center {
    display: flex;
    background-color: rgb(36, 36, 36);
    flex-wrap: wrap;
    padding: 30px 0 0;
    justify-content: space-between;
}
.block {
    background-color: rgb(235, 235, 235);

    width: 250px;
    min-height: 200px;
    text-align: center;
}
.block p {
    font-size: 12px;
    padding: 0;
    margin: 0;
}
.copy {
    text-align: center;
    color: white;
    margin: 10px auto;
}