<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>Схема макетов с несколькими врапперами | Трепачёв Дмитрий</title>
		
		<link rel="stylesheet" href="../../../../../css/fonts/list.css?v=8">
		<link rel="stylesheet" href="../../../../../css/styles.css?v=321">
		<link rel="stylesheet" href="../../../../../js/highlighter/highlighter.css?v=77">
		
		<script src="../../../../../js/highlighter/highlighter.js?v=112"></script>
		
		<script src="../../../../../js/location.js?v=3"></script>
		<script src="../../../../../js/locale.js?v=5"></script>
		<script src="../../../../../js/main.js?v=129"></script>
		
		<meta name="yandex-verification" content="00eb45b7559e5c68">
		<meta name="google-site-verification" content="Af0TM2OrwIEtjoQXxYz2-1C-21E1m7DB23_kWpE9sLg">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<meta name="description" content="В данном уроке мы изучим схему макета сайта с несколькими врапперами на CSS.">
		<link rel="shortcut icon" type="image/x-icon" href="../../../../../favicon.ico">
	</head>
	<body id="top">
		<div class="wrapper">
			<header>
				<div class="top">
	<div class="left"><img data-module="coder" src="" alt=""></div>
	<div class="right">
		offline version 0.0.1	</div>
	<div class="center">
			<a href="http://mentor.code.mu">
		Запись на курсы по HTML, CSS, JavaScript, PHP, фреймворкам и CMS,<br>
		<b>а также</b>: помощь в поиске работы и заказов, стажировка
		на реальных проектах&rarr;
	</a>
	</div>
</div>								<nav data-module="mainmenu">
	<section class="main active">
		<span data-href="/ru/markup/" data-open="markup">Верстка</span>
		<span data-href="/ru/javascript/" data-open="javascript">JavaScript</span>
		<span data-href="/ru/php/" data-open="php">PHP</span>
		<span data-href="/ru/javascript/typescript/" data-open="typescript">TypeScript</span>
		<span data-href="/ru/javascript/nodejs/" data-open="nodejs">NodeJS</span>
		<span data-href="/ru/sql/" data-open="sql">SQL</span>
		<span data-href="/ru/javascript/framework/vue/" data-open="vue">Vue</span>
		<span data-href="/ru/javascript/framework/react/" data-open="react">React</span>
		<span data-href="/ru/php/framework/laravel/" data-open="laravel">Laravel</span>
	</section>

	<section class="sub" data-name="markup">
		<a href="../../../../../ru/markup/book/prime.html">Основной учебник</a>
		<a href="../../../../../ru/markup/book/supreme.html">Высший учебник</a>
		<a href="../../../../../ru/markup/book/prep/less.html">Учебник LESS</a>
		<a href="../../../../../ru/markup/manual/html.html">Справочник HTML</a>
		<a href="../../../../../ru/markup/manual/css.html">Справочник CSS</a>
	</section>

	<section class="sub" data-name="php">
		<a href="../../../../../ru/php/book/prime.html">Основной учебник</a>
		<a href="../../../../../ru/php/book/oop.html">Учебник ООП и MVC</a>
		<a href="../../../../../ru/php/manual.html">Справочник</a>
		<a href="../../../../../ru/php/video/lesson.html">Видеоуроки</a>
	</section>

	<section class="sub" data-name="javascript">
		<a href="../../../../../ru/javascript/book/prime.html">Основной учебник</a>
		<a href="../../../../../ru/javascript/book/practice.html">Учебник практики</a>
		<a href="../../../../../ru/javascript/book/supreme.html">Высший учебник</a>
		<a href="../../../../../ru/javascript/book/oop.html">Учебник ООП</a>
		<a href="../../../../../ru/javascript/manual.html">Справочник</a>
		<a href="../../../../../ru/javascript/video/lesson.html">Видеоуроки</a>
		<a href="../../../../../ru/javascript/mistake.html">Ошибки</a>
		<a href="../../../../../ru/javascript/faq.html">FAQ</a>
	</section>

	<section class="sub" data-name="nodejs">
		<a href="../../../../../ru/javascript/nodejs/book/prime.html">Основной учебник</a>
		<a href="../../../../../ru/javascript/nodejs/book/express.html">Express</a>
		<a href="../../../../../ru/javascript/nodejs/book/mongo.html">Mongo</a>
	</section>
	<section class="sub" data-name="sql">
		<a href="../../../../../ru/sql/manual.html">Справочник</a>
	</section>

	<section class="sub" data-name="typescript">
		<a href="../../../../../ru/javascript/typescript/book/prime.html">Основной учебник</a>
	</section>

	<section class="sub" data-name="vue">
		<a href="../../../../../ru/javascript/framework/vue/book/prime.html">Основной учебник</a>
	</section>

	<section class="sub" data-name="react">
		<a href="../../../../../ru/javascript/framework/react/book/prime.html">Основной учебник</a>
	</section>

	<section class="sub" data-name="laravel">
		<a href="../../../../../ru/php/framework/laravel/book/prime.html">Основной учебник</a>
	</section>
	<!--
	<section class="sub" data-name="wordpress">
		<a href="http://dep.code.mu/ru/cms/wordpress/book/prime/administration/">Учебник администратора</a>
		<a href="http://dep.code.mu/ru/cms/wordpress/book/prime/development/">Учебник разработчика</a>
		<!--
		<a href="../../../../../ru/cms/wordpress/book/prime/administration.html">Учебник администратора</a>
		<a href="../../../../../ru/cms/wordpress/book/prime/development.html">Учебник разработчика</a>
		
	</section>
	-->
</nav>							</header>
			<main>
				<h1>Схема макетов с несколькими врапперами</h1>
				<div class="content">
<p>
	Часто при разработке встречаются макеты,
	в которых блоки имеют фон на всю ширину страницы,
	а содержимое этих блоков стоит по центру.
	Вот пример такого макета:
</p>
<div class="block"><a href="" data-module="opener" data-type="page"><span data-x="open-window"></span><div srcdoc="<!DOCTYPE html>
	<head>
		<base target=&quot;_blank&quot;>
		<meta charset=&quot;utf-8&quot;>
		<meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;>
		
		<style>
			
		</style>
		<style>
			* {
			box-sizing: border-box;
		}
		body {
			margin: 0;
		}
		
		.wrapper {
			margin-bottom: 30px;
		}
		.wrapper.line {
			background-color: #008040;
			color: white;
		}
		.center {
			width: 800px;
			padding: 20px;
			margin: 0 auto;
		}
		.wrapper h1 {
			margin: 0;
			font: 40px &quot;Times New Roman&quot;;
		}
		.wrapper h2 {
			margin: 0;
			font: 25px &quot;Times New Roman&quot;;
		}
		.wrapper p {
			font: 16px/1.4 Arial;
			text-align: justify;
		}
		</style>
	</head>
	<body>
		
		<div class=&quot;wrapper&quot;>
			<div class=&quot;center&quot;>
				<h1>Main site header</h1>
			</div>
		</div>
		<div class=&quot;wrapper line&quot;>
			<div class=&quot;center&quot;>
				<h2>Our company</h2>
				<p>
					Pellentesque pellentesque sem ac justo tristique pellentesque. Vestibulum semper pulvinar rutrum. Maecenas odio urna, porta sed lectus eget, fringilla posuere odio. Maecenas pulvinar sed massa vitae tincidunt. Praesent ullamcorper est ac lorem aliquet, sed tempus lacus iaculis. Pellentesque a odio pharetra, sagittis enim sit amet, euismod leo. Nullam egestas, nisi eget blandit dignissim, augue dui accumsan est, at tincidunt ipsum metus quis justo. Aenean sed mauris ornare, faucibus tortor in, iaculis magna. Duis eros lectus, auctor eu mi sit amet, ornare scelerisque elit.
				</p>
				<p>
					Integer a sollicitudin quam. Sed laoreet finibus velit ut rhoncus. Nunc euismod neque at ligula venenatis vestibulum. Nulla facilisi. Nunc aliquet, erat sed ullamcorper malesuada, sapien magna tempor augue, at malesuada felis enim at quam. Curabitur ornare tincidunt nisi id cursus. Nunc finibus non massa in vestibulum. Etiam euismod metus ut euismod sagittis. Donec tincidunt neque a dolor posuere egestas. Proin sed dolor dui. In urna tellus, pretium in eleifend eget, pellentesque et enim. Etiam pulvinar velit nec libero iaculis, vitae consectetur elit pellentesque.
				</p>
			</div>
		</div>
		<div class=&quot;wrapper&quot;>
			<div class=&quot;center&quot;>
				<h2>Our price</h2>
				<p>
					Pellentesque pellentesque sem ac justo tristique pellentesque. Vestibulum semper pulvinar rutrum. Maecenas odio urna, porta sed lectus eget, fringilla posuere odio. Maecenas pulvinar sed massa vitae tincidunt. Praesent ullamcorper est ac lorem aliquet, sed tempus lacus iaculis. Pellentesque a odio pharetra, sagittis enim sit amet, euismod leo. Nullam egestas, nisi eget blandit dignissim, augue dui accumsan est, at tincidunt ipsum metus quis justo. Aenean sed mauris ornare, faucibus tortor in, iaculis magna. Duis eros lectus, auctor eu mi sit amet, ornare scelerisque elit.
				</p>
				<p>
					Integer a sollicitudin quam. Sed laoreet finibus velit ut rhoncus. Nunc euismod neque at ligula venenatis vestibulum. Nulla facilisi. Nunc aliquet, erat sed ullamcorper malesuada, sapien magna tempor augue, at malesuada felis enim at quam. Curabitur ornare tincidunt nisi id cursus. Nunc finibus non massa in vestibulum. Etiam euismod metus ut euismod sagittis. Donec tincidunt neque a dolor posuere egestas. Proin sed dolor dui. In urna tellus, pretium in eleifend eget, pellentesque et enim. Etiam pulvinar velit nec libero iaculis, vitae consectetur elit pellentesque.
				</p>
			</div>
		</div>
		<div class=&quot;wrapper line&quot;>
			<div class=&quot;center&quot;>
				<h2>Our contacts</h2>
				<p>
					Pellentesque pellentesque sem ac justo tristique pellentesque. Vestibulum semper pulvinar rutrum. Maecenas odio urna, porta sed lectus eget, fringilla posuere odio. Maecenas pulvinar sed massa vitae tincidunt. Praesent ullamcorper est ac lorem aliquet, sed tempus lacus iaculis. Pellentesque a odio pharetra, sagittis enim sit amet, euismod leo. Nullam egestas, nisi eget blandit dignissim, augue dui accumsan est, at tincidunt ipsum metus quis justo. Aenean sed mauris ornare, faucibus tortor in, iaculis magna. Duis eros lectus, auctor eu mi sit amet, ornare scelerisque elit.
				</p>
				<p>
					Integer a sollicitudin quam. Sed laoreet finibus velit ut rhoncus. Nunc euismod neque at ligula venenatis vestibulum. Nulla facilisi. Nunc aliquet, erat sed ullamcorper malesuada, sapien magna tempor augue, at malesuada felis enim at quam. Curabitur ornare tincidunt nisi id cursus. Nunc finibus non massa in vestibulum. Etiam euismod metus ut euismod sagittis. Donec tincidunt neque a dolor posuere egestas. Proin sed dolor dui. In urna tellus, pretium in eleifend eget, pellentesque et enim. Etiam pulvinar velit nec libero iaculis, vitae consectetur elit pellentesque.
				</p>
			</div>
		</div>
		
		<script>
			
			
		</script>
	</body>
</html>"></div></a></div>
<p>
	В таком макете нам придется сделать не один
	враппер, а несколько - для каждого блока.
	При этом внутри враппера должен быть еще
	один блок, выполняющий центрирование содержимого.
	Также должен быть класс, отвечающий за покраску
	содержимого фоном.
</p>
<p>
	Общая схема нашего макета будет выглядеть
	следующим образом:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="html">&lt;div class="wrapper"&gt;
	&lt;div class="center"&gt;
		
	&lt;/div&gt;
&lt;/div&gt;
&lt;div class="wrapper line"&gt;
	&lt;div class="center"&gt;
		
	&lt;/div&gt;
&lt;/div&gt;
&lt;div class="wrapper"&gt;
	&lt;div class="center"&gt;
		
	&lt;/div&gt;
&lt;/div&gt;
&lt;div class="wrapper line"&gt;
	&lt;div class="center"&gt;
		
	&lt;/div&gt;
&lt;/div&gt;</code>
</div>
<p>
	Класс <code class="value inline">center</code> будет использоваться
	для центрирования блоков:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="css">.center {
	width: 800px;
	padding: 20px;
	margin: 0 auto;
}</code>
</div>
<p>
	Класс <code class="value inline">line</code> будет использоваться для
	покраски блоков:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="css">.wrapper.line {
	background-color: #008040;
	color: white;
}</code>
</div>
<p>
	А класс <code class="value inline">wrapper</code> будет родителем каждого
	блока. Используем его для задания отступа
	между блоками:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="css">.wrapper {
	margin-bottom: 30px;
}</code>
</div>
<p>
	Давайте теперь напишем полный код нашей задачи:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="html">&lt;div class="wrapper"&gt;
	&lt;div class="center"&gt;
		&lt;h1&gt;Main site header&lt;/h1&gt;
	&lt;/div&gt;
&lt;/div&gt;
&lt;div class="wrapper line"&gt;
	&lt;div class="center"&gt;
		&lt;h2&gt;Our company&lt;/h2&gt;
		&lt;p&gt;
			...
		&lt;/p&gt;
		&lt;p&gt;
			...
		&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
&lt;div class="wrapper"&gt;
	&lt;div class="center"&gt;
		&lt;h2&gt;Our price&lt;/h2&gt;
		&lt;p&gt;
			...
		&lt;/p&gt;
		&lt;p&gt;
			...
		&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
&lt;div class="wrapper line"&gt;
	&lt;div class="center"&gt;
		&lt;h2&gt;Our contacts&lt;/h2&gt;
		&lt;p&gt;
			...
		&lt;/p&gt;
		&lt;p&gt;
			...
		&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code>
	<code class="highlight" data-module="highlight" data-lang="css">* {
	box-sizing: border-box;
}
body {
	margin: 0;
}

.wrapper {
	margin-bottom: 30px;
}
.wrapper.line {
	background-color: #008040;
	color: white;
}
.center {
	width: 800px;
	padding: 20px;
	margin: 0 auto;
}
.wrapper h1 {
	margin: 0;
	font: 40px "Times New Roman";
}
.wrapper h2 {
	margin: 0;
	font: 25px "Times New Roman";
}
.wrapper p {
	font: 16px/1.4 Arial;
	text-align: justify;
}</code>
</div>
<div class="task">
	<div class="block"><a href="" data-module="opener" data-type="page"><span data-x="open-window"></span><div srcdoc="<!DOCTYPE html>
	<head>
		<base target=&quot;_blank&quot;>
		<meta charset=&quot;utf-8&quot;>
		<meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;>
		
		<style>
			
		</style>
		<style>
			* {
				box-sizing: border-box;
			}
			body, p, h1, h2, ul, ol {
				margin: 0;
				padding: 0;
			}
			
			body {
				font-family: Arial;
			}
			
			.wrapper {
				margin-bottom: 30px;
			}
			
			.center {
				width: 840px;
				padding: 10px;
				margin: 0 auto;
			}
			
			.wrapper h2 {
				margin-bottom: 10px;
				text-align: center;
				font-size: 27px;
			}
			.wrapper p, .wrapper li {
				margin-bottom: 10px;
				text-align: justify;
				font-size: 16px;
			}
			.wrapper li {
				list-style-position: inside;
			}
			
			#header {
				background: #008040;
				color: white;
			}
			#header h1 {
				font-size: 35px;
				margin-bottom: 7px;
				text-align: center;
			}
			#header p {
				font-size: 21px;
				margin-bottom: 5px;
				text-align: center;
			}

			#services {
				background-color: white;
			}
			
			#contacts {
				background-color: #C60304;
				color: white;
			}
			#contacts p {
				text-align: center;
			}
			
			#company {
				background-color: white;
			}
			
			#footer {
				padding-top: 100px;
				background: #FF8040;
				color: white;
				text-align: center;
				font-size: 13px;
			}
		</style>
	</head>
	<body>
		
		<div id=&quot;header&quot; class=&quot;wrapper&quot;>
				<div class=&quot;center&quot;>
					<h1>Любые виды ремонтных работ</h1>
					<p>
						Выезд специалиста, замер и смета работ бесплатно
					</p>
					<p>
						Бесплатный дизайн проект
					</p>
					<p>
						Гарантия 3 года
					</p>
				</div>
			</div>
			<div id=&quot;services&quot; class=&quot;wrapper&quot;>
				<div class=&quot;center&quot;>
					<h2>Наши услуги</h2>
					<ol>
						<li>
							Pellentesque pellentesque sem ac justo tristique pellentesque. Vestibulum semper pulvinar rutrum. Maecenas odio urna, porta sed lectus eget, fringilla posuere odio. Maecenas pulvinar sed massa vitae tincidunt. 
						</li>
						<li>	
							Praesent ullamcorper est ac lorem aliquet, sed tempus lacus iaculis. Pellentesque a odio pharetra, sagittis enim sit amet, euismod leo. Nullam egestas, nisi eget blandit dignissim, augue dui accumsan est, at tincidunt ipsum metus quis justo. Aenean sed mauris ornare, faucibus tortor in, iaculis magna. Duis eros lectus, auctor eu mi sit amet, ornare scelerisque elit.
						</li>
						<li>
							Integer a sollicitudin quam. Sed laoreet finibus velit ut rhoncus. Nunc euismod neque at ligula venenatis vestibulum. Nulla facilisi. Nunc aliquet, erat sed ullamcorper malesuada, sapien magna tempor augue, at malesuada felis enim at quam. Curabitur ornare tincidunt nisi id cursus.
						</li>
						<li>
							Nunc finibus non massa in vestibulum. Etiam euismod metus ut euismod sagittis. Donec tincidunt neque a dolor posuere egestas. Proin sed dolor dui. In urna tellus, pretium in eleifend eget, pellentesque et enim. Etiam pulvinar velit nec libero iaculis, vitae consectetur elit pellentesque. 
						</li>
					</ol>
				</div>
			</div>
			<div id=&quot;contacts&quot; class=&quot;wrapper&quot;>
				<div class=&quot;center&quot;>
					<h2>Наши контакты</h2>
					<p>
						Телефоны: +375 29 335 29 38 МТС, +375 31 335 29 38 Velcom
					</p>
				</div>
			</div>
			<div id=&quot;company&quot; class=&quot;wrapper&quot;>
				<div class=&quot;center&quot;>
					<h2>Наша компания</h2>
					<p>
						Pellentesque pellentesque sem ac justo tristique pellentesque. Vestibulum semper pulvinar rutrum. Maecenas odio urna, porta sed lectus eget, fringilla posuere odio. Maecenas pulvinar sed massa vitae tincidunt. Praesent ullamcorper est ac lorem aliquet, sed tempus lacus iaculis. Pellentesque a odio pharetra, sagittis enim sit amet, euismod leo. Nullam egestas, nisi eget blandit dignissim, augue dui accumsan est, at tincidunt ipsum metus quis justo. Aenean sed mauris ornare, faucibus tortor in, iaculis magna. Duis eros lectus, auctor eu mi sit amet, ornare scelerisque elit.
					</p>
					<p>
						Integer a sollicitudin quam. Sed laoreet finibus velit ut rhoncus. Nunc euismod neque at ligula venenatis vestibulum. Nulla facilisi. Nunc aliquet, erat sed ullamcorper malesuada, sapien magna tempor augue, at malesuada felis enim at quam. Curabitur ornare tincidunt nisi id cursus. Nunc finibus non massa in vestibulum. Etiam euismod metus ut euismod sagittis. Donec tincidunt neque a dolor posuere egestas. Proin sed dolor dui. In urna tellus, pretium in eleifend eget, pellentesque et enim. Etiam pulvinar velit nec libero iaculis, vitae consectetur elit pellentesque.
					</p>
				</div>
			</div>
			<div id=&quot;footer&quot; class=&quot;wrapper&quot;>
				<div class=&quot;center&quot;>
					Строительная компания &quot;Рога и копыта&quot; &copy;
					Все права более чем защищены.
				</div>
			</div>
		
		<script>
			
			
		</script>
	</body>
</html>"></div></a></div>
</div>
</div>			</main>
			<div class="bottom">
	<section class="pages" data-url="/ru/markup/book/prime/" data-persent="95" data-hash="mkPmLtMW" data-quantity="115" data-num="110"><a href="../../../../../ru/markup/book/prime/layout/one-column-layout.html" class="prev"><span class="arrow">&larr;</span></a><a href="../../../../../ru/markup/book/prime/layout/page-structure.html" class="next"><span class="arrow">&rarr;</span></a></section></div>			<footer>
	<div class="contacts">
	Трепачёв Дмитрий &copy; 2012-2022 <br>
	<a href="https://t.me/trepachev_dmitry">t.me/trepachev_dmitry</a>
</div>		
</footer>			<div class="jump">
	<a href="#top" class="to-top">&uarr;</a>
</div>			<div class="langer">
	</div>			</div>
		</div>
		
		<script src="../../../../../js/metrika.js?v=1"></script>	</body>
</html>