<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>Схема двухколоночного макета сайта | Трепачёв Дмитрий</title>
		
		<link rel="stylesheet" href="../../../../../css/fonts/list.css?v=8">
		<link rel="stylesheet" href="../../../../../css/styles.css?v=321">
		<link rel="stylesheet" href="../../../../../js/highlighter/highlighter.css?v=77">
		
		<script src="../../../../../js/highlighter/highlighter.js?v=112"></script>
		
		<script src="../../../../../js/location.js?v=3"></script>
		<script src="../../../../../js/locale.js?v=5"></script>
		<script src="../../../../../js/main.js?v=129"></script>
		
		<meta name="yandex-verification" content="00eb45b7559e5c68">
		<meta name="google-site-verification" content="Af0TM2OrwIEtjoQXxYz2-1C-21E1m7DB23_kWpE9sLg">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<meta name="description" content="В данном уроке мы изучим схему двухколоночного макета на CSS.">
		<link rel="shortcut icon" type="image/x-icon" href="../../../../../favicon.ico">
	</head>
	<body id="top">
		<div class="wrapper">
			<header>
				<div class="top">
	<div class="left"><img data-module="coder" src="" alt=""></div>
	<div class="right">
		offline version 0.0.1	</div>
	<div class="center">
			<a href="http://mentor.code.mu">
		Запись на курсы по HTML, CSS, JavaScript, PHP, фреймворкам и CMS,<br>
		<b>а также</b>: помощь в поиске работы и заказов, стажировка
		на реальных проектах&rarr;
	</a>
	</div>
</div>								<nav data-module="mainmenu">
	<section class="main active">
		<span data-href="/ru/markup/" data-open="markup">Верстка</span>
		<span data-href="/ru/javascript/" data-open="javascript">JavaScript</span>
		<span data-href="/ru/php/" data-open="php">PHP</span>
		<span data-href="/ru/javascript/typescript/" data-open="typescript">TypeScript</span>
		<span data-href="/ru/javascript/nodejs/" data-open="nodejs">NodeJS</span>
		<span data-href="/ru/sql/" data-open="sql">SQL</span>
		<span data-href="/ru/javascript/framework/vue/" data-open="vue">Vue</span>
		<span data-href="/ru/javascript/framework/react/" data-open="react">React</span>
		<span data-href="/ru/php/framework/laravel/" data-open="laravel">Laravel</span>
	</section>

	<section class="sub" data-name="markup">
		<a href="../../../../../ru/markup/book/prime.html">Основной учебник</a>
		<a href="../../../../../ru/markup/book/supreme.html">Высший учебник</a>
		<a href="../../../../../ru/markup/book/prep/less.html">Учебник LESS</a>
		<a href="../../../../../ru/markup/manual/html.html">Справочник HTML</a>
		<a href="../../../../../ru/markup/manual/css.html">Справочник CSS</a>
	</section>

	<section class="sub" data-name="php">
		<a href="../../../../../ru/php/book/prime.html">Основной учебник</a>
		<a href="../../../../../ru/php/book/oop.html">Учебник ООП и MVC</a>
		<a href="../../../../../ru/php/manual.html">Справочник</a>
		<a href="../../../../../ru/php/video/lesson.html">Видеоуроки</a>
	</section>

	<section class="sub" data-name="javascript">
		<a href="../../../../../ru/javascript/book/prime.html">Основной учебник</a>
		<a href="../../../../../ru/javascript/book/practice.html">Учебник практики</a>
		<a href="../../../../../ru/javascript/book/supreme.html">Высший учебник</a>
		<a href="../../../../../ru/javascript/book/oop.html">Учебник ООП</a>
		<a href="../../../../../ru/javascript/manual.html">Справочник</a>
		<a href="../../../../../ru/javascript/video/lesson.html">Видеоуроки</a>
		<a href="../../../../../ru/javascript/mistake.html">Ошибки</a>
		<a href="../../../../../ru/javascript/faq.html">FAQ</a>
	</section>

	<section class="sub" data-name="nodejs">
		<a href="../../../../../ru/javascript/nodejs/book/prime.html">Основной учебник</a>
		<a href="../../../../../ru/javascript/nodejs/book/express.html">Express</a>
		<a href="../../../../../ru/javascript/nodejs/book/mongo.html">Mongo</a>
	</section>
	<section class="sub" data-name="sql">
		<a href="../../../../../ru/sql/manual.html">Справочник</a>
	</section>

	<section class="sub" data-name="typescript">
		<a href="../../../../../ru/javascript/typescript/book/prime.html">Основной учебник</a>
	</section>

	<section class="sub" data-name="vue">
		<a href="../../../../../ru/javascript/framework/vue/book/prime.html">Основной учебник</a>
	</section>

	<section class="sub" data-name="react">
		<a href="../../../../../ru/javascript/framework/react/book/prime.html">Основной учебник</a>
	</section>

	<section class="sub" data-name="laravel">
		<a href="../../../../../ru/php/framework/laravel/book/prime.html">Основной учебник</a>
	</section>
	<!--
	<section class="sub" data-name="wordpress">
		<a href="http://dep.code.mu/ru/cms/wordpress/book/prime/administration/">Учебник администратора</a>
		<a href="http://dep.code.mu/ru/cms/wordpress/book/prime/development/">Учебник разработчика</a>
		<!--
		<a href="../../../../../ru/cms/wordpress/book/prime/administration.html">Учебник администратора</a>
		<a href="../../../../../ru/cms/wordpress/book/prime/development.html">Учебник разработчика</a>
		
	</section>
	-->
</nav>							</header>
			<main>
				<h1>Схема двухколоночного макета сайта</h1>
				<div class="content">
<p>
	Давайте сделаем двухколоночный макет следующего
	вида:
</p>
<div class="block"><a href="" data-module="opener" data-type="page"><span data-x="open-window"></span><div srcdoc="<!DOCTYPE html>
	<head>
		<base target=&quot;_blank&quot;>
		<meta charset=&quot;utf-8&quot;>
		<meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;>
		
		<style>
			
		</style>
		<style>
			* {
			box-sizing: border-box;
		}
		
		#wrapper {
			width: 1000px;
			margin: 30px auto;
			border: 1px solid black;
		}
		#header {
			height: 200px;
			padding: 20px;
			border: 1px solid black;
		}
		#container {
			display: flex;
		}
		#content {
			width: 780px;
			height: 700px;
			padding: 20px;
			border: 1px solid black;
		}
		#sidebar {
			width: 200px;
			margin-right: 20px;
			padding: 20px;
			border: 1px solid black;
		}
		#footer {
			height: 200px;
			padding: 20px;
			border: 1px solid black;
		}
		</style>
	</head>
	<body>
		
		<div id=&quot;wrapper&quot;>
			<div id=&quot;header&quot;>
				header
			</div>
			<div id=&quot;container&quot;>
				<div id=&quot;sidebar&quot;>
					sidebar
				</div>
				<div id=&quot;content&quot;>
					content
				</div>
			</div>
			<div id=&quot;footer&quot;>
				footer
			</div>
		</div>
		
		<script>
			
			
		</script>
	</body>
</html>"></div></a></div>
<p>
	Для начала создадим основную структуру страницы:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="html">&lt;div id="wrapper"&gt;
	&lt;div id="header"&gt;
		header
	&lt;/div&gt;
	&lt;div id="container"&gt;
		&lt;div id="content"&gt;
			content
		&lt;/div&gt;
		&lt;div id="sidebar"&gt;
			sidebar
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div id="footer"&gt;
		footer
	&lt;/div&gt;
&lt;/div&gt;</code>
</div>
<p>
	Теперь назначим стили врапперу, выровняв
	его по центру экрана:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="css">#wrapper {
	width: 1000px;
	margin: 30px auto;
	border: 1px solid black;
}</code>
</div>
<p>
	Зададим теперь стили хедера и футера:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="css">#header {
	height: 200px;
	border: 1px solid black;
}
#footer {
	height: 200px;
	border: 1px solid black;
}</code>
</div>
<p>
	Как вы видите, мы задаем хедеру и футеру
	высоту. Мы делаем это, как как в нашей схеме
	у них нет содержимого. При наличии содержимого
	высоту блокам задавать не стоит - она будет
	формироваться их содержимым.
</p>
<p>
	Обратите также внимание на то, что мы не
	задаем им ширину. Дело в том, что хедер и
	футер - блочные элементы и их ширина будет
	автоматически равна ширине враппера.
</p>
<p>
	Давайте теперь зададим им пэддинг, чтобы
	текст не прилипал к границам:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="css">#header {
	height: 200px;
	padding: 20px;
	border: 1px solid black;
}
#footer {
	height: 200px;
	padding: 20px;
	border: 1px solid black;
}</code>
</div>
<p>
	Наличие пэддинга, однако, плохо повлияет
	на размеры блоков - они станут больше, чем
	указано. Давайте изменим поведение всех блоков
	так, чтобы пэддинг и границы не расширяли
	наши блоки:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="css">* {
	box-sizing: border-box;
}</code>
</div>
<p>
	Теперь нам нужно поставить контент и сайдбар
	в один ряд. Сделаем это с помощью флексов:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="css">#container {
	display: flex;
}</code>
</div>
<p>
	Укажем контенту и сайдбару их ширину. При
	этом сумма их ширин должна быть равна ширине
	враппера:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="css">#content {
	width: 800px;
}
#sidebar {
	width: 200px;
}</code>
</div>
<p>
	Пусть мы хотим сделать отступ между сайдбаром
	и контентом. В этом случае сайдбару нужно
	поставить марджин. При этом нам придется
	от кого-то отщипнуть ширину для этого марджина.
	Отщипнем от контента, соответственно уменьшив
	его ширину:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="css">#content {
	width: 780px;
}
#sidebar {
	width: 200px;
	margin-right: 20px;
}</code>
</div>
<p>
	Давайте теперь добавим высоту, так как наши
	элементы не содержат содержимого. Достаточно
	добавить высоту только одному элементу, ведь
	второй флекс элемент подстроится по высоте
	(почему?). Давайте зададим высоту контенту:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="css">#content {
	width: 780px;
	height: 700px;
}
#sidebar {
	width: 200px;
	margin-right: 20px;
}</code>
</div>
<p>
	Давайте добавим контенту и сайдбару остальные
	стили:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="css">#content {
	width: 780px;
	height: 700px;
	padding: 20px;
	border: 1px solid black;
}
#sidebar {
	width: 200px;
	margin-right: 20px;
	padding: 20px;
	border: 1px solid black;
}</code>
</div>
<p>
	Все, наш макет готов. Соберем весь код вместе:
</p>
<div class="block">
	<code class="highlight" data-module="highlight" data-lang="html">&lt;div id="wrapper"&gt;
	&lt;div id="header"&gt;
		header
	&lt;/div&gt;
	&lt;div id="container"&gt;
		&lt;div id="sidebar"&gt;
			sidebar
		&lt;/div&gt;
		&lt;div id="content"&gt;
			content
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div id="footer"&gt;
		footer
	&lt;/div&gt;
&lt;/div&gt;</code>
	<code class="highlight" data-module="highlight" data-lang="css">* {
	box-sizing: border-box;
}

#wrapper {
	width: 1000px;
	margin: 30px auto;
	border: 1px solid black;
}
#header {
	height: 200px;
	padding: 20px;
	border: 1px solid black;
}
#container {
	display: flex;
}
#content {
	width: 780px;
	height: 700px;
	padding: 20px;
	border: 1px solid black;
}
#sidebar {
	width: 200px;
	margin-right: 20px;
	padding: 20px;
	border: 1px solid black;
}
#footer {
	height: 200px;
	padding: 20px;
	border: 1px solid black;
}</code>
</div>
<div class="task">
	<div class="block"><a href="" data-module="opener" data-type="page"><span data-x="open-window"></span><div srcdoc="<!DOCTYPE html>
	<head>
		<base target=&quot;_blank&quot;>
		<meta charset=&quot;utf-8&quot;>
		<meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;>
		
		<style>
			
		</style>
		<style>
			* {
				box-sizing: border-box;
			}
			
			#wrapper {
				width: 1200px;
				margin: 30px auto;
				border: 1px solid black;
			}
			#header {
				height: 250px;
				padding: 20px;
				border: 1px solid black;
			}
			#container {
				display: flex;
			}
			#content {
				width: 860px;
				height: 900px;
				padding: 20px;
				border: 1px solid black;
			}
			#sidebar {
				width: 300px;
				margin-right: 40px;
				padding: 20px;
				border: 1px solid black;
			}
			#footer {
				height: 100px;
				padding: 20px;
				border: 1px solid black;
			}
		</style>
	</head>
	<body>
		
		<div id=&quot;wrapper&quot;>
				<div id=&quot;header&quot;>
					header
				</div>
				<div id=&quot;container&quot;>
					<div id=&quot;sidebar&quot;>
						sidebar
					</div>
					<div id=&quot;content&quot;>
						content
					</div>
				</div>
				<div id=&quot;footer&quot;>
					footer
				</div>
			</div>
		
		<script>
			
			
		</script>
	</body>
</html>"></div></a></div>
</div>
<div class="task">
	<div class="block"><a href="" data-module="opener" data-type="page"><span data-x="open-window"></span><div srcdoc="<!DOCTYPE html>
	<head>
		<base target=&quot;_blank&quot;>
		<meta charset=&quot;utf-8&quot;>
		<meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;>
		
		<style>
			
		</style>
		<style>
			* {
				box-sizing: border-box;
			}
			
			#wrapper {
				width: 1200px;
				margin: 30px auto;
				border: 1px solid black;
			}
			#header {
				height: 250px;
				padding: 20px;
				border: 1px solid black;
			}
			#container {
				display: flex;
			}
			#content {
				width: 860px;
				height: 900px;
				padding: 20px;
				border: 1px solid black;
			}
			#sidebar {
				width: 300px;
				margin-left: 40px;
				padding: 20px;
				border: 1px solid black;
			}
			#footer {
				height: 100px;
				padding: 20px;
				border: 1px solid black;
			}
		</style>
	</head>
	<body>
		
		<div id=&quot;wrapper&quot;>
				<div id=&quot;header&quot;>
					header
				</div>
				<div id=&quot;container&quot;>
					<div id=&quot;content&quot;>
						content
					</div>
					<div id=&quot;sidebar&quot;>
						sidebar
					</div>
				</div>
				<div id=&quot;footer&quot;>
					footer
				</div>
			</div>
		
		<script>
			
			
		</script>
	</body>
</html>"></div></a></div>
</div>
</div>			</main>
			<div class="bottom">
	<section class="pages" data-url="/ru/markup/book/prime/" data-persent="97" data-hash="mkPmLtTCS" data-quantity="115" data-num="112"><a href="../../../../../ru/markup/book/prime/layout/page-structure.html" class="prev"><span class="arrow">&larr;</span></a><a href="../../../../../ru/markup/book/prime/layout/three-columns-schema.html" class="next"><span class="arrow">&rarr;</span></a></section></div>			<footer>
	<div class="contacts">
	Трепачёв Дмитрий &copy; 2012-2022 <br>
	<a href="https://t.me/trepachev_dmitry">t.me/trepachev_dmitry</a>
</div>		
</footer>			<div class="jump">
	<a href="#top" class="to-top">&uarr;</a>
</div>			<div class="langer">
	</div>			</div>
		</div>
		
		<script src="../../../../../js/metrika.js?v=1"></script>	</body>
</html>